
  .add-trek-input,
  .add-trek-textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box; 
  }
  .App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
  }
  
  .textField-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .textField-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  .textField-input:focus {
    border-color: #007bff;
  }
  .file-upload {
 display: none;
}
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: gainsboro;
    text-align: left;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .submit-button {
  
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .submit-button:active {
    background-color: #004080;
  }
  .drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .drop-area.active {
    border-color: #007bff;
  }

  .drop-text {
    font-size: 16px;
  }